body {line-height:1;font-size:62.5%;font-family:Arial, Helvetica, Verdana, sans-serif;color:#575757;}
h1, h2, h3, h4, h5, h6 { color:#f6ae19; }
h2 {font-weight:bold;font-size:2.719em;}
h3 {font-size:2.2em;}
p {font-size:1.1em;line-height:14px;margin-bottom:16px;}
a {color: #f6ae19 }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }

/* Page Layout */
#header { height: 472px; width: 100%; background: url(../images/theme/header-bg.jpg) repeat-x center; }
#header h1 { margin-top: 19px; margin-left: -10px; }
#header h1 a { display: block; width: 299px; height: 147px; background: url(../images/theme/logo.png) no-repeat 0 0; }
#balanca { text-align: center; margin-top: 17px; height: 172px; }
#menu { margin-left: 0px; padding-right: 20px; height: 32px; background: url(../images/theme/menu-bg.png) repeat-x; }
#menu ul { margin-left: 50px; list-style: none outside; }
#menu li { margin-left: 0; padding: 8px; height: 32px; float: left; }
#menu li a { font: 13px Arial; color: #fff; text-decoration: none; text-transform: uppercase; }
