---
layout: default
title: Convidados a serem confirmados 
---
#main.grid_7.alpha
  .content 
    %h3 Nacionais
    %ul
      %li
        %destaque Ministro Carlos Ayres - STF
      %li 
        %destaque Ministro Luis Felipe Salomão - TST
      %li 
        %destaque Ministro Lelio Bentes Côrrea - TST
      %li
        %destaque Senador Paulo Paim
    %h3 Internacionais
    %ul
      %li
        %destaque Profº Carlos Palomeque Lopes /Espanha
      %li
        %destaque Profº Antônio Bailus /Espanha
#sidebar.grid_5.omega
  .content  
    %h3 Menu Principal:
    %ul
      %li
        %a{ :href => '/programacao-cientifica'} Programação Científica
      %li
        %a{ :href => '/normas-para-os-trabalhos-cientificos'} Normas para os Trabalhos Científicos
      %li
        %a{ :href => '/regulamento-do-evento'} Regulamento do Evento
      %li
        %a{ :href => '/noticias'} Notícias

