---
layout: default
title: Convidados Confirmados 
---
#main.grid_7.alpha
  .content 
    %h3 Nacionais
    %ul
      %li
        %destaque Ministro Carlos Ayres - STF
      %li 
        %destaque Ministro Luis Felipe Salomão - TST
      %li 
        %destaque Ministro Lelio Bentes Côrrea - TST
      %li
        %destaque Senador Paulo Paim
    %h3 Internacionais
    %ul
      %li
        %destaque Profº Carlos Palomeque Lopes /Espanha
      %li
        %destaque Profº Antônio Bailus /Espanha
#sidebar.grid_5.omega
  .content  
