---
layout: default
title: Envio de Trabalhos Científicos 
---
#main.grid_12.alpha
  .content
    %p
      Em breve estaremos disponibilizando as normas e demais informações sobre o envio e os procedimentos de avaliação dos trabalhos científicos. Obrigado!
#sidebar.grid_5.omega
  .content

