---
layout: default
title: Notícias 
---
#main.grid_12.alpha
  .content
    %p
      Aqui você poderá acompanhar as notícias do IV Congresso Internacional de Direito do Trabalho.
#sidebar.grid_5.omega
  .content
    %h3 Menu Principal: 
    %ul
      %li
        %a{ :href => '/programacao-cientifica'} Programação Científica
      %li
        %a{ :href => '/convidados-a-serem-confirmados'} Convidados a serem confirmados
      %li
        %a{ :href => '/normas-para-os-trabalhos-cientificos'} Normas para os Trabalhos Científicos
      %li
        %a{ :href => '/regulamento-do-evento'} Regulamento do Evento
