---
layout: default
title: Notícias 
---
#main.grid_12.alpha
  .content
    %p
      Aqui você poderá acompanhar as notícias do IV Congresso Internacional de Direito do Trabalho.
#sidebar.grid_5.omega
  .content

