---
layout: default
title: Programação Científica 
---
#main.grid_8.alpha
  .content
    %table#tabela.big
      %tr
        %td.dia{ :colspan => '3' } 26/05 - Quarta-Feira
      %tr
        %th{ :scope => "col"} Horário
        %th{ :scope => "col"} Auditório Bossa Nova
      %tr
        %th 18:00
        %td Credenciamento
      %tr
        %th 20:00
        %td
          %strong Conferencia:
          A cidadania e o lugar do juiz no mundo globalizado
          %br
          %strong Conferencista:
          Prof. Agostinho Ramalho/MA
      %tr
        %th 20:30
        %td Coquetel de Abertura
      %tr
        %td.dia{ :colspan => '3' } 27/05 - Quinta-Feira
      %tr
        %th{ :scope => "col"} Horário
        %th{ :scope => "col"} Auditório Bossa Nova
      %tr
        %th 8:30
        %td
          %strong Palestra: 
          A crise econômica e direito do trabalho 
          %br
          %strong Palestrante: 
          Prof. Carlos Palomeque /Espanha
      %tr
        %th 09:30
        %td
          %strong Palestra:
          Sindicato e Negociação Coletiva
          %br
          José Silvestre (DIEESE)
      %tr
        %th 10:30
        %td
          %string Palestra:
          Direito ao emprego e a responsabilidade pré – contratual
          %br
          Prof. Marcio Elffman
      %tr
        %th 12:00
        %td Intervalo para Almoço
      %tr
        %th 14:00
        %td
          Repercussões Previdenciárias das Decisões da Justiça do Trabalho
          %br
          Juiz do Trabalho da 12ª  Região Carlos Alberto Pereira de Castro
      %tr
        %th 15:00
        %td 
          %strong Painel:       
          Nexo Técnico Epidemiológico e Fator Acidentário de Prevenção
          %br
          Juiz do Trabalho da 21ª Região Edvar Abreu Gonçalves e Juan Pablo Couto de Carvalho - Procurador Federal
      %tr
        %th 16:00
        %td
          %strong Palestra: 
          Crise Econômica e constitucionalização do direito do trabalho no Brasil, 1988 – 2009
          %br
          %strong Palestrante: 
          Cássio Casagrande Procurador do Trabalho da 1º Região
      %tr
        %th 17:00
        %td Encerramento
      %tr
        %td.dia{ :colspan => '3' } 28/05 - Sexta-Feira
      %tr
        %th{ :scope => "col"} Horário
        %th{ :scope => "col"} Auditório Bossa Nova
      %tr
        %th 8:30
        %td
          %strong Palestra: 
          Dispensas patronais: limites constitucionais e legais em visão pós-positivista” (planos individual e coletivo) 
          %br
          %strong Palestrante: 
          Juiz do Trabalho da 15ª Região Guilherme Feliciano
      %tr
        %th 09:30
        %td
          %strong Palestra:
          Negociação Coletiva
          %br
          %strong Palestrante:
          Ministro Lélio Bentes (TST)
      %tr
        %th 10:30
        %td
          %strong Palestra: 
          A terceirização e o TST  
          %br
          %strong Palestrante: 
          Ministro Luiz Philippe Vieira de Mello Filho (TST)
      %tr
        %th 12:00
        %td Intervalo para Almoço
      %tr
        %th 14:00
        %td
          %strong Painel:
          A Efetividade dos Direitos Sociais
          %br
          Hamilton Vieira e Hermann Harckart - Juizes do Trabalho da 21ª Região
      %tr
        %th 15:00
        %td 
          %strong Palestra: 
          As Perspectivas dos Direitos Sociais Diante das Novas Transformações da Economia  
          %br
          %strong Palestrante:
          Professor Antônio Avelã - Universidade de Coimbra 
      %tr
        %th 16:00
        %td
          %strong Palestra:
          Aplicações das normas internacionais da América Latina
          %br
          Hugo Melo Juiz do Trabalho da 6º Região
      %tr
        %th 17:00
        %td Encerramento do evento

#sidebar.grid_4.omega
  .content
    %h3 Menu Principal:
    %ul
      %li
        %a{ :href => '/convidados-confirmados'} Convidados confirmados
      %li
        %a{ :href => '/normas-para-os-trabalhos-cientificos'} Normas para os Trabalhos Científicos
      %li
        %a{ :href => '/regulamento-do-evento'} Regulamento do Evento
      %li
        %a{ :href => '/noticias'} Notícias
