---
layout: default
title: Regulamento do Evento
---
#main.grid_9.alpha
  .content
    %h3.center{ :id => "capI" }
      CAPÍTULO I
      %br
      DOS OBJETIVOS, ATIVIDADES, LOCAL E DATA
      %br
      DO II CONGRESSO INTERNACIONAL DE DIREITO DO TRABALHO
    %p{ :id => "art1" }
      %strong Artigo 1º -
      O IV Congresso Internacional de Direito do Trabalho tem por objetivo a discussão de temas relativos aos reflexos da crise econômica nas relações sociais.
    %p
      %strong Parágrafo primeiro -
      O IV Congresso Internacional de Direito do Trabalho terá como tema central
      %strong "A ORDEM ECONÔMICA E A CRISE DAS RELAÇÕES SOCIAIS"
      /, que será abordado em palestras e painéis alusivos à temática.
    %p
      %strong Parágrafo segundo -
      O Congresso será promovido pela Associação dos Magistrados da Justiça do Trabalho da 21ª Região (AMATRA 21)  com apoio institucional do Tribunal Regional do Trabalho da 21ª Região, no período de 26 a 28 de maio de 2010, no Hotel Serhs da cidade de Natal, Capital do Estado do Rio Grande do Norte.
    %p{ :id => "art2" }
      %strong Artigo 2º -
      São atividades do IV Congresso Internacional de Direito do Trabalho aquelas integrantes do programa divulgado, com especial destaque aos painéis e às palestras e aos artigos enviados pelos participantes.
    %p{ :id => "art3" }
      %strong Artigo 3º -
      Os painéis e palestras terão por objetivo o tema central do Congresso e cada um abordará um subtema, com possibilidade de debates ao final.
    %p
      %strong Parágrafo primeiro -
      A duração de cada palestra será de 60 minutos com mais 15 minutos destinados a debates, totalizando uma hora e quinze minutos.
    %p
      %strong Parágrafo segundo -
      A duração máxima de cada painel não poderá exceder a 90 minutos com mais quinze minutos para debate, totalizando uma hora e 15 minutos.
    %p{ :id => "art4" }
      %strong Artigo 4º -
      A seleção dos artigos enviados será executada por uma Comissão conforme disposto neste Regulamento.
    %h3.center{ :id => "capII" }
      CAPÍTULO II
      %br
      DOS INTEGRANTES DO IV CONGRESSO INTERNACIONAL DE DIREITO DO TRABALHO 
    %p{ :id => "art5" }
      %strong Artigo 5º -
      Integram o IV Congresso Internacional de Direito do Trabalho:
    %p
      a. Os convidados especiais, entre os quais autoridades, painelistas e palestrantes; 
      %br
      b. Os congressistas  inscritos; 
      %br
      c. Os assistentes
      %br
      d. As comissões Organizadora e Científica. 
    %p
      %strong Parágrafo primeiro - 
      Podem se inscrever como congressistas os magistrados, os advogados, os membros do Ministério Público, os demais profissionais do Direito, os professores e estudantes de Direito, bem como qualquer profissional ou estudante de outras áreas que tenham interesse no conclave.
    %p
      %strong Parágrafo segundo - 
      Assistentes são todos os convidados para a abertura, palestras e os painéis, que não se enquadram nas hipóteses das alíneas “a”, “b” e “d”.
    %p 
      %strong Parágrafo terceiro -
      Os congressistas inscritos terão direito a ampla participação em todos os eventos e atividades do Congresso.
    %h3.center{ :id => "capIII" }
      CAPÍTULO III
      %br
      DOS TRABALHOS DO IV CONGRESSO INTERNACIONAL DE DIREITO DO TRABALHO E SUA CONSTITUIÇÃO
    %h4.center{ :id => "titI" } Título I - Das Disposições Gerais
    %p{ :id => "art6" }
      %strong Artigo 6º -
      O IV Congresso Internacional de Direito do Trabalho compreenderá:
    %p
      1.Sessão solene de abertura no Hotel Serhs de Natal/RN; 
      %br 
      2.Painéis e palestras.
      %br
      3.Eventos de confraternização, culturais e sociais conforme programação;
    %p{ :id => "art7" }
      %strong Artigo 7º -
      O Congresso será presidido pelo(a) Presidente da AMATRA 21 conjuntamente com o Presidente do TRT 21.
    %p
      %strong Parágrafo Único - 
      São atribuições da Presidência do Congresso:
      %br 
      1.Fazer cumprir o presente Regulamento; 
      %br 
      2.Presidir a sessão solene de abertura; 
    %p{ :id => "art8" }
      %strong Artigo 8º -
      A Coordenação e Organização do Congresso será exercida pela AMATRA 21, através de sua Diretoria.
    %p{ :id => "art9" }
      %strong Artigo 9º - 
      A Coordenação Científica do Congresso será promovida pelos Juízes do Trabalho da 21ª Região Zéu Palmeira Sobrinho, Hamilton Vieira Sobrinho e Gustavo Muniz Nunes, que poderão delegar a uma comissão científica o recebimento, exame e aprovação dos artigos para encaminhamento à publicação.
    %h4.center{ :id => "titII" }
      Título II - Do Regulamento para seleção de artigos acadêmicos
      %br{ :id => "titII1" }
      Título II.1 - Objeto e Comissão Científica
    %p{ :id => "art10" }
      %strong Artigo 10º -    
      O IV Congresso Internacional de Direito do Trabalho, por sua comissão científica, selecionará 10 (dez) trabalhos acadêmicos, de autoria de professores, estudantes, juízes, procuradores e outros participantes com o intuito de serem publicados na Revista do Congresso  em outras publicações editadas pela organização a seu critério.
    %p{ :id => "art11" }
      %strong Artigo 11º -
      Os trabalhos devem versar sobre os seguintes temas: A Ordem Econômica e Crise das Relações Sociais. 
    %p
      %strong Parágrafo único -
      Não é necessário que o título do trabalho enviado tenha coincidência com o elencado. O conteúdo do trabalho é que deve ser pertinente ao tema apresentado.
    %p{ :id => "art12" }
      %strong Artigo 12º - 
      A Comissão Científica, em caso de delegação pela Coordenação Científica, será formada por professores da Escola Superior da Magistratura do Trabalho da 21ª Região e avaliará e selecionará os artigos levando em conta os seguintes aspectos: a) ineditismo; b) importância do assunto; c) adequação do tema ao Congresso; d) linguagem; e e) observância das normas da ABNT para validação de publicação com cunho científico.
    %p
      %strong Parágrafo Primeiro - 
      As decisões da Coordenação Científica, ou Comissão em caso de delegação, são irrecorríveis. 
    %p
      %strong Parágrafo Segundo - 
      A Comissão Central do evento reserva-se o direito de não publicar a Revista, caso não haja número de trabalhos suficientes, não haja orçamento suficiente para sua editoração ou os prazos não permitam a publicação. Neste caso, os participantes serão avisados da sua não publicação e os arquivos referentes destruídos, permanecendo os trabalhos inéditos. 
    %h4.center{ :id => "titII2" }
      Título II.2 - Encaminhamento dos trabalhos  
    %p{ :id => "art13" }
      %strong Artigo 13º -
      Os trabalhos serão encaminhados exclusivamente por e-mail, através do endereço amatra21@digi.com.br, até 30 de abril de 2010, devendo ser especificado no e-mail o assunto (Subject): TRABALHO IV CONGRESSO. 
    %p
      %strong Parágrafo Primeiro -
      Na mensagem de e-mail deve conter o título do trabalho, a identificação do autor, mencionando a Instituição a que pertence e sua identificação profissional (profissão, titulação, vínculo institucional). Acaso o texto seja selecionado, estas informações servirão para identificar o autor em nota de rodapé, na primeira página do trabalho.
    %p 
      %strong Parágrafo Segundo - 
      Os trabalhos deverão ser apresentados em formato Word, com extensão .doc, versão 1997 ou superior, compatível com o sistema operacional Windows, e com o nome correspondente ao título do trabalho.
    %p
      %strong Parágrafo Terceiro -  
      O texto deverá seguir as normas da ABNT, com sistema de citação autor-data.  O trabalho deverá conter no máximo 10 páginas, incluindo referências bibliográficas e Resumo (abstract); em espaço 1,5; com margens superior 3cm, inferior 2 cm, esquerda 3 cm e direita 2 cm; e letra times new roman 12. Citações com até três linhas devem ser feitas no corpo do texto entre aspas e citações longas com recuo esquerdo de 4 cm, letra times new roman 10 e espaço simples. 
    %p{ :id => "art14" }
      %strong Artigo 14º
      Os trabalhos selecionados serão anunciados durante o evento. 
    %p
      %strong Parágrafo único –
      Os autores dos trabalhos selecionados serão previamente contactados e poderão apresentar resumo para divulgação em
      %em banners
      \, às suas expensas, que serão expostos no 
      %em hall
      do evento.
    %h4{ :id => "titII3" } 
      Título II.3 - Exemplares e direitos autorais
    %p{ :id => "art15" } 
      %strong Artigo 15º
      Será fornecido um exemplar da Revista, acaso publicada, para cada autor. 
    %p
      %strong Parágrafo único - 
      Admite-se a co-autoria, caso em que será fornecido um exemplar da Revista a cada autor.
    %p{ :id => "art16" }
      %strong Artigo 16º
      Os autores cedem os seus direitos autorais sobre os textos publicados, exclusivamente para a publicação de uma edição das Revistas editadas pela organização, não havendo qualquer direito de requerer ou receber honorários pela publicação. 
    %p{ :id => "art17" }
      %strong Artigo 17º
      O envio de trabalhos acadêmicos para a Revista implica na aceitação das regras aqui enunciadas. 
    %h3.center{ :id => "capIV" }
      CAPÍTULO IV
      %br
      DISPOSIÇÕES FINAIS
    %p{ :id => "art18" }
      %strong Artigo 18º
      Os congressistas inscritos, convidados especiais, assistentes e demais participantes serão identificados mediante crachá, cujo porte será exigido para a circulação nos locais de realização do IV Congresso Internacional de Direito do Trabalho.
    %p{ :id => "art19" }
      %strong Artigo 19º
      Todos os congressistas inscritos farão jus a Certificado de participação.
    %p{ :id => "art20" }
      %strong Artigo 20º
      As questões de ordem e os casos omissos serão submetidos à Presidência do Congresso a quem caberá decisão final e irrecorrível.
    %p{ :id => "art21" }
      %strong Artigo 21º
      Se por questões de ordem pessoal, ou qualquer imprevisto decorrente de motivos alheios à Comissão Organizadora e Científica do Congresso, os convidados para palestras e painéis tiverem que ser substituídos ou mesmo não for possível realizar qualquer palestra ou painel previsto, nenhum direito de ressarcimento se constituirá em prol dos congressistas inscritos relativos à taxa de inscrição ou qualquer outro tipo de indenização, por se constituir o descumprimento do cronograma motivo alheio às referidas Comissões responsáveis pelo Conclave, ficando este regulamento vinculado em suas regras ao ato de inscrição.

#sidebar.grid_3.omega
  .content
    %h3
      Capítulos:
    %ul
      %li
        %a{ :href => '#capI'} Capítulo I
        %ul
          %li
            %a{ :href => '#art1'} Artigo 1º
          %li
            %a{ :href => '#art2'} Artigo 2º
          %li
            %a{ :href => '#art3'} Artigo 3º
          %li
            %a{ :href => '#art4'} Artigo 4º
      %li
        %a{ :href => '#capII'} Capítulo II
        %ul
          %li 
            %a{ :href => '#art5'} Artigo 5º
      %li
        %a{ :href => '#capIII'} Capítulo III
        %ul
          %li 
            %a{ :href => '#titI'}  Título I
            %ul
              %li 
                %a{ :href => '#art6'} Artigo 6º
              %li
                %a{ :href => '#art7'} Artigo 7º
              %li
                %a{ :href => '#art8'} Artigo 8º
              %li
                %a{ :href => '#art9'} Artigo 9º
          %li 
            %a{ :href => '#titII'}  Título II
            %ul
              %li
                %a{ :href => '#titII1'}  Título II.1
                %ul
                  %li
                    %a{ :href => '#art10'} Artigo 10º
                  %li
                    %a{ :href => '#art11'} Artigo 11º
                  %li
                    %a{ :href => '#art12'} Artigo 12º
              %li
                %a{ :href => '#titII2'}  Título II.2
                %ul
                  %li
                    %a{ :href => '#art13'} Artigo 13º
                  %li
                    %a{ :href => '#art14'} Artigo 14º
              %li
                %a{ :href => '#titII3'}  Título II.3
                %ul
                  %li
                    %a{ :href => '#art15'} Artigo 15º
                  %li
                    %a{ :href => '#art16'} Artigo 16º
                  %li
                    %a{ :href => '#art17'} Artigo 17º
      %li
        %a{ :href => '#capIV'} Capítulo IV
        %ul
          %li
            %a{ :href => '#art18'} Artigo 18º
          %li
            %a{ :href => '#art19'} Artigo 19º
          %li
            %a{ :href => '#art20'} Artigo 20º
          %li
            %a{ :href => '#art21'} Artigo 21º
    %h3 Menu Principal:
    %ul
      %li
        %a{ :href => '/programacao-cientifica'} Programação Científica
      %li
        %a{ :href => '/convidados-a-serem-confirmados'} Convidados a serem confirmados
      %li
        %a{ :href => '/normas-para-os-trabalhos-cientificos'} Normas para os Trabalhos Científicos
      %li
        %a{ :href => '/noticias'} Notícias
