---
layout: default
title: Agência Oficial
---
#main.grid_7.alpha
  .content
    %h3{ :id=> 'agencia-turismo'}
      Michelle Tour
    %p
      %a{ :href => "http://www.michelletour.com.br" } 
        %img{ :src => "images/agencia-turismo.jpg", :alt => "Michelle Tour"}
    %p
      A Michelle Tour foi nomeada pela comissão organizadora como a agência oficial do
      %br
      IV CONGRESSO INTERNACIONAL DE DIREITO DO TRABALHO.
    %p
      A agência é especializada em oferecer pacotes para os melhores roteiros nacionais e internacionais. Tudo isso aliado a um atendimento personalizado, com profissionais qualificados, plantão 24 horas, sintonia com as mudanças do mercado do turismo nacional e internacional e instalações confortáveis, fazem da Michelle Tour uma das agências de turismo mais conceituadas do Nordeste.
    %br
      Michelle Tour - Rua Rui Barbosa, nº 226 - Tirol - Natal/RN<br />
      Telefones: (84) 4009-0677 / (84) 4009-0656
    %p
    %h3 E-mails para contato:
    %ul
      %li
        %a.mail{ :href => "mailto:silvania@michelletour.com.br"}
          %strong silvania@michelletour.com.br
      %li
        %a.mail{ :href => "mailto:patricia@michelletour.com.br"}
          %strong patricia@michelletour.com.br
#sidebar.grid_5.omega
  .content

