---
layout: default
title: Inscrição
---
#main.grid_7.alpha
  .content
    %h3{ :id => "inscricao"}
      Inscrição
    %p
      Formulário de inscrição
    %h3{ :id => "procedimentos" }
      Procedimentos para inscrição
    %p
      %ul
        %li
          %span As inscrições deverão ser efetuadas, através deste site até 15/05/2010. Após esta data, somente no local do evento.
        %li
          %span As inscrições realizadas no dia do evento estarão condicionadas à disponibilidade de vagas.
    %h3{ :id => "taxas"}
      Taxas de inscrição
    %p 
      %ul
        %li
          %span As diferentes categorias e datas de pagamento devem ser observadas.
        %li
          %span O pagamento de sua inscrição deverá ser feito por boleto bancário, emitidos no site, ou por cartões de crédito.
    %h3{ :id => "desistencia"}
      Desistência e Reembolso
    %p
      Em caso de comunicação e justificativa formal de desistência de participação, a devolução de valores pagos será efetuada até 45 dias após a realização do evento.

#sidebar.grid_5.omega
  .content
    %h3
      Observações:
    %p
      %ul
        %li
          %a{ :href => '#procedimentos'} Procedimentos para inscrição
        %li
          %a{ :href => '#taxas'} Taxas de inscrição
        %li
          %a{ :href => '#desistencia'} Desistência e Reembolso
        %li
          %a{ :href => '#inscricao'} Inscrições Online
