---
layout: default
title: Início
layout_type: start_page
---
#main.grid_8.alpha
  #title
    %h2= page.title
    %hr
  .content
    %p
      O Congresso Internacional de Direito do Trabalho já  está inserido no calendário jurídico da cidade do Natal. Evento que anualmente, é promovido pela AMATRA 21 – Associação dos Magistrados do Direito do Trabalho/RN, com apoio institucional do Tribunal Regional do Trabalho da 21ª Região, contendo em sua programação científica personalidades de grande envergadura intelectual e de renome nacional e internacional para discutir temas relativos ao Direito do Trabalho. 
    %p
      Nos anos de 2008 e 2009 o evento contou com a participação de 500 congressistas, dentre juízes, procuradores, advogados, professores universitários e estudantes da área de Direito e Ciências Sociais. sendo grande a expectativa para 2010. 
#sidebar.grid_4.omega
  .content
    #title
      INSCRIÇÕES EM BREVE
    #content
      #count
        .grid_1.alpha
          = image_tag 'balanca-inscricao.png', :alt => 'Inscrição'
        .grid_2.omega
          .element
            Faltam apenas
            %span#countdown 0 dias
            para o início do evento.
      .clear    
      #span
        Garanta sua presença no IV Congresso Internacional de Direito do Trabalho. Inscrições em breve.
        %a{ :href => "/inscricao"} Clique aqui
  %p
    %a{ :href => "/programacao"}
      = image_tag "confira-programacao.jpg", :alt => "Confira a Programação"
  %p
    %a{ :href => "/local-do-evento.html#conheca-natal"}
      = image_tag "conheca-natal.jpg", :alt => "Conheça Natal"
