---
layout: default
title: Comissão Organizadora
---
#main.grid_7.alpha
  .content
    %p
      %ul
        %li
          %destaque Juiz Décio Teixeira de Carvalho Junior 
          %p 
            Presidente da Amatra 21 – Associação dos Magistrados do Trabalho da 21º Região
#sidebar.grid_5.omega
  .content
