---
layout: default
title: Parceiros
---
#main.grid_7.alpha
  .content
    %h3
      Patrocinadores
    %p.parceiros
      %img{ :src => "images/theme/patrocinio-senai.jpg" }
      %img{ :src => "images/theme/patrocinio-farn.jpg" }
#sidebar.grid_5.omega
  .content
    %h3
      Apoio
    %p
      %img{ :src => "images/theme/apoio-prefeitura.jpg" }
    %h3
      Organização
    %p
      %img{ :src => "images/theme/organizacao-fal.jpg" }

