---
layout: default
title: Contato
---
#main.grid_7.alpha
  .content
    %h3{ :id => "sobre-amatra"}
      Amatra IV
    %p
      %img{ :src => "images/theme/fachada-amatra.jpg"}
    %p  
      Site:
      %a{ :href => "http://www.amatra4.org.br/"} http://www.amatra4.org.br/
    %p
      A 
      %strong Associação dos Magistrados da Justiça do Trabalho da IV Região (Amatra IV)
      fundada em 1965 - atua não só na defesa dos interesses dos seus associados (Juízes do Trabalho, ativos e inativos), mas também na busca do aprimoramento do Direito do Trabalho e do Poder Judiciário Trabalhista.
    %p
      Na defesa da Magistratura e do Poder Judiciário, atua incessantemente junto aos operadores do Direito e poderes constituídos, através da sua diretoria ou em colaboração com entidades afins, de âmbito regional ou nacional. 
    %br
      Rua Rafael Saadi, 127. Menino Deus - CEP: 90110-310. Porto Alegre - RS<br />
      Telefone/Fax: (51) 3231 5759
#sidebar.grid_5.omega
  .content
    %h3
      Fale Conosco  
    %p
      Formulário para contato.
