---
layout: default
title: Comissão Organizadora
---
#main.grid_7.alpha
  .content
    %h3 Presidente
    %p
      %ul
        %li
          %span#destaque Juiz Décio Teixeira de Carvalho Junior 
          %p 
            Presidente da Amatra 21 – Associação dos Magistrados do Trabalho da 21º Região
    %h3 Comissão Científica
    %p
      %ul
        %li
          %span#destaque Juíz Zéu Palmeira Sobrinho
        %li
          %span#destaque Juíz Gustavo Muniz Nunes
        %li 
          %span#destaque Juíz Hamilton Vieira Sobrinho
#sidebar.grid_5.omega
  .content
