---
layout: default
title: Agência Oficial
---
#main.grid_7.alpha
  .content
    %h3{ :id=> 'agencia-turismo'}
      Michelle Tour
    %p
      %img{ :src => "images/theme/agencia-turismo.jpg", :alt => "Michelle Tour"}
    %p
      A Michelle Tour foi nomeada pela comissão organizadora como a agência oficial do IV Congresso Internacional do Direito do Trabalho
    %p
      A agência é especializada em oferecer pacotes para os melhores roteiros nacionais e internacionais. Tudo isso aliado a um atendimento personalizado, com profissionais qualificados, plantão 24 horas, sintonia com as mudanças do mercado do turismo nacional e internacional e instalações confortáveis, fazem da Michelle Tour uma das agências de turismo mais conceituadas do Nordeste.
    %p
      Site: 
      %a{ :href => "http://www.michelletour.com.br" } http://www.michelletour.com.br
    %br
      Michelle Tour - Rua Rui Barbosa, nº 226 - Tirol - Natal/RN<br />
      Telefones: (84) 4009-0677 / (84) 4009-0656
#sidebar.grid_5.omega
  .content

