---
layout: default
title: Parceiros
---
#main.grid_7.alpha
  .content
    %h3
      Patrocinadores
    .parceiros  
      %ul
        %li
          %span FIERN
          %p
            %a{ :href => "http://www.fiern.org.br/"}
              %img{ :src => "images/patrocinio/patrocinio-senai.jpg" }
        %li  
          %span FARN
          %p
            %a{ :href => "http://www.farn.br/"}
              %img{ :src => "images/patrocinio/farn-logo.png" }
        %li
          %span Prefeitura do Natal
          %p
            %a{ :href => "http://www.natal.rn.gov.br/"}
              %img{ :src => "images/patrocinio/apoio-prefeitura.jpg" }
        %li
          %span Banco do Brasil
          %p
            %a{ :href => "http://www.bb.com.br/"}
              %img{ :src => "images/patrocinio/bb-logo.png" }
        %li
          %span Cosern
          %p
            %a{ :href => "http://www.cosern.com.br/"}
              %img{ :src => "images/patrocinio/cosern-logo.png" }
        %li 
          %span Faculdade Câmara Cascudo
          %p
            %a{ :href => "http://www.fcamaracascudo.com.br/"}
              %img{ :src => "images/patrocinio/facul-cam-casc-logo.jpg" }
        %li
          %span Sterbom
          %p
            %a{ :href => "http://www.sterbom.com.br/"}
              %img{ :src => "images/patrocinio/sterbom-logo.png" }
        %li
          %span Universidade UnP
          %p
            %a{ :href => "http://www.unp.br/"}
              %img{ :src => "images/patrocinio/logo-unp.jpg" }
        %li
          %span Petrobrás
          %p
            %a{ :href => "http://www.petrobras.com.br/"}
              %img{ :src => "images/patrocinio/petrobras-logo.png" }
        %li  
          %span Caixa Econômica Federal
          %p
            %a{ :href => "http://www.caixa.gov.br/"}
              %img{ :src => "images/patrocinio/caixa-logo.png" }
        %li  
          %span Facex
          %p
            %a{ :href => "http://www.facex.com.br/"}
              %img{ :src => "images/patrocinio/facex-logo.png" }



#sidebar.grid_5.omega
  .content
    %h3
      Promoção e Realização
    %p
      %a{ :href => "http://www.amatra21.org.br/"}
        %img{ :src => "images/amatra21.png" }
      %a{ :href => "http://www.trt21.jus.br/"}
        %img{ :src => "images/trt.png" }

    %h3
      Organização
    %p
      %a{ :href => "http://www.ideiaseventos.com.br"}
        %img{ :src => "images/logo-ideias.jpg" }

