---
layout: default
title: Programação
---
#main.grid_7.alpha
  .content
    %h3{ :id => "programacao"}
      Científica
    %p
      %ul
        %li
          %destaque
            %strong 26/05/2010 (Terça-Feira)
          %p 17:30h - Entrega de credenciais
          %p 19:00h - Abertura Solene
          %p 20:00h - Apresentação da Orquestra Sanfônica
          %p 21:00h - Coquetel
        %li 
          %destaque
            %strong 27/05/2010 (Quarta-Feira)
          %p 09:15h - PALESTRA: Direito e Políticas Sociais na América Latina
          %p 10:15h - Debates
          %p 10:30h - Comissão de trabalhadores na Europa - Co-Gestão Administrativa
          %p 11:30h - Debates
          %p 11:45h - Encerramento
#sidebar.grid_5.omega
  .content
    %h3
      Palestrantes
    %h4 
      Comitê Científico
    %p
      %ul
        %li
          %span Dra. Thalia Luk Lan Fung (Cuba)
        %li 
          %span Manuel Salvador da Silva Campos (Alemanha) 
        %li
          %span Dr. Carlos Montaño (Uruguai)
        %li 
          %span Dra. Sandra Lia Simon
        %li 
          %span Dr. Cláudio Pedrosa
    %h4 
      Comitê Diretivo
    %p
      %ul
        %li
          %span Dr. Christian Ramos Veloz (Republica Dominicana)
        %li 
          %span Dr. Sebastião Geraldo Oliveira 
        %li
          %span Dr. José Affonso Dallegrave Neto
     

