---
layout: default
title: Local do Evento
---
#main.grid_7.alpha
  .content
    %h3{ :id => 'local-evento'}
      Grand Hotel Serhs
    %p
      %img{ :src => "images/theme/local-evento2.jpg", :alt => "Serhs Natal Grand Hotel"}
    %p
      Site
      %a{ :href => "http://www.serhsnatalgrandhotel.com"} http://www.serhsnatalgrandhotel
    %p  
      Destaca-se por sua moderna e elegante construção e sobre tudo pela qualidade dos seus serviços e instalações. 
    %p
      Trata-se de um complexo hoteleiro de categoria 5 estrelas com padrão europeu: ambientação e design exclusivos, classe, conforto, elegância em detalhes. Qualidades à disposição de nossos clientes em Natal, a cidade do Sol conhecido como a cidade de ar mais puro das Américas.
    %p  
      O centro de convenções do Serhs Natal possui uma área de 2.035m² que acomoda simultaneamente 1300 pessoas. Possui 10 salas que se adaptam as diferentes necessidades, para realização de congressos, convenções, feiras e incentivos. Dispomos ainda de salão para exposições que comportam equipamentos e veículos. Alguns salões possuem vista mar e varandas. 
    %p
      Nossa área de banquetes possui moderna estrutura, com cardápios elaborados e diferenciados, o melhor da culinária brasileira e internacional. Realizar seu evento conosco será sem duvida uma experiência memorável. 
    %h3{ :id => 'conheca-natal'}
      Conheça Natal
    %p  
      %img{ :src => "images/theme/forte.jpg", :alt => "Forte dos Reis Magos - Natal/RN"}
    %p
      Localizado na esquina do mapa do Brasil, o Rio Grande do Norte é um Estado privilegiado pelas suas belezas naturais e por seu povo hospitaleiro.
    %p
      Natal, hoje com cerca de 800 mil habitantes, é a porta de entrada para o visitante conhecer cerca de 420 km de litoral potiguar com belíssimas praias, dunas, lagoas, salinas e coqueirais, bem como o interior, com suas paisagens únicas de sertão, serras e sítios arqueológicos.
    %p
      Conhecida como a Cidade do Sol, já que o astro rei brilha mais aqui durante o ano todo, Natal possui o ar mais puro da América do Sul, segundo estudos da Nasa e do Instituto Nacional de Pesquisas Espaciais (Inpe), além de ter os menores índices de violência do país.
#sidebar.grid_5.omega
  .content
    %h3
      Localização
    %p
      Sua Localização privilegiada, clima favorável e instalações magníficas fazem do hotel o lugar ideal para desfrutar seus momentos de lazer e realizar eventos de diferentes tipos.
    %p
      Distâncias
    %p
    %ul
      %li 
        %span Aeroporto de Natal - 17km
      %li
        %span Centro de Natal - 7km
      %li 
        %span Centro de Convenções - 500m
      %li
        %span Shopping e Bancos - 2km
      %li 
        %span Praia de Ponta Negra - 3km
    %p
      Av. Senador Dinarte Medeiros Mariz, 6045. CEP: 59090-002. Via Costeira - Natal/RN, Brasil
