---
layout: default
title: Contato
---
#main.grid_7.alpha
  .content
    %h3{ :id => "sobre-amatra"}
      Amatra 21
    %p  
      %a{ :href => "http://www.amatra21.org.br/"}
        %img{ :src => "images/AMATRA.jpg"}
    %p
      A 
      %strong Associação dos Magistrados do Trabalho da 21ª Região (Amatra 21)
      , foi fundada em 31 de julho de 1992, em Natal/RN.
    %p
      Desde a sua fundação, a Amatra 21, enquanto entidade associativa, tem como objetivos congregar os magistrados do trabalho que atuam junto à 21ª região em torno dos seus interesses comuns, cuidando dos direitos, dos interesses e das reivindicações da classe perante os poderes constituídos e terceiros, promovendo entre eles maior aproximação, cooperação e solidariedade. Além disso, executa programas de desenvolvimento técnico-cultural e social, colaborando com suas congêneres e batalhando pelo prestígio da Justiça Laboral e do Poder Judiciário. No plano nacional, a Amatra 21 é vinculada à Anamatra - Associação Nacional dos Magistrados do Trabalho. 
    %br
      Edifício Empresarial Candelária, sala 302.
      Rua Raimundo Chaves, 2182, Candelária.
      Telefone/Fax: (84) 3231 4287
      E-mail: amatra21@digi.com.br
#sidebar.grid_5.omega
  .content
    %h3
      Fale Conosco  
    %p
      E-mail:
      %span
        %strong cidtnatal2010@ideiaseventos.com.br
    %p
      Telefone: (84) 3211-4358
