---
layout: default
title: Contato
javascript: $(document).ready(function(){ $('#contato').validate() })
---
#main.grid_7.alpha
  .content
    %h3{ :id => "sobre-amatra"}
      Amatra 21
    %p  
      %a{ :href => "http://www.amatra21.org.br/"}
        %img{ :src => "images/AMATRA.jpg"}
    %p
      A 
      %strong Associação dos Magistrados do Trabalho da 21ª Região (Amatra 21)
      , foi fundada em 31 de julho de 1992, em Natal/RN.
    %p
      Desde a sua fundação, a Amatra 21, enquanto entidade associativa, tem como objetivos congregar os magistrados do trabalho que atuam junto à 21ª região em torno dos seus interesses comuns, cuidando dos direitos, dos interesses e das reivindicações da classe perante os poderes constituídos e terceiros, promovendo entre eles maior aproximação, cooperação e solidariedade. Além disso, executa programas de desenvolvimento técnico-cultural e social, colaborando com suas congêneres e batalhando pelo prestígio da Justiça Laboral e do Poder Judiciário. No plano nacional, a Amatra 21 é vinculada à Anamatra - Associação Nacional dos Magistrados do Trabalho. 
    %br
      Edifício Empresarial Candelária, sala 302.
      Rua Raimundo Chaves, 2182, Candelária.
      Telefone/Fax: (84) 3231 4287
      E-mail:
      %a.mail{ :href => "mailto:amatra21@digi.com.br" }
        amatra21@digi.com.br
    %p
    %br
    %h3 Fale Conosco  
    %p
      E-mail:
      %a.mail{ :href => "mailto:cidtnatal2010@ideiaseventos.com.br" }
        %strong cidtnatal2010@ideiaseventos.com.br
      %br
      Telefone: (84) 3211-4358
    
#sidebar.grid_5.omega
  %h3 Entre em contato conosco
  %form#contato{ :action => 'http://participe.de/events/iv-congresso-internacional-de-direito-do-trabalho/contacts', :method => 'post' }
    %fieldset
      %label Nome:
      %input.text.required{ :name => 'nome' }
      %label E-mail:
      %input.text.email.required{ :name => 'email' }
      %label Telefone:
      %input.text.required{ :name => 'telefone' }
      %label Mensagem:
      %textarea.text.required{ :name => 'mensagem' }
      %br
      %br
      %input#enviar{ :name => 'submit', :value => 'enviar', :type => 'submit' }  
