!!! XML
!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %title
      IV Congresso Internacional de Direito do Trabalho
      - if page.title
        \-
        = page.title
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}/
    - %w{reset text 960 style sifr}.each do |style|
      %link{:href => "css/#{style}.css", :rel => 'stylesheet'}
    / [if IE]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]

  %body
    #header
      %div{:class => "container_12 #{layout_type}"}
        .grid_4
          %h1
            %a.notext(href='index')
              IV Congresso Internacional de Direito do Trabalho
        #balanca.grid_6.prefix_1 
          %img{ :src => "images/theme/balanca.png", :alt => "IV CIDT - Congresso Internacional de Direito do Trabalho" }
        #menu.grid_12
          %ul
            %li
              %a Início
            %li
              %a Programação
            %li
              %a Inscrição
            %li
              %a Local do Evento
            %li
              %a Comissão Organizadora
            %li
              %a Parceiros
            %li
              %a Exposição
            %li
              %a Contato
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js', :type => 'text/javascript' }
    - %w{sifr sifr-config jquery.tools.min theme gridder}.each do |js|
      %script{ :src => "js/#{js}.js", :type => 'text/javascript'}
